@import "variables";
.ro3-fail{
	color: $red;
}

body.toplevel_page_ro3_settings{
	form h3{ 
		padding-top: 3em; 
		border-top: solid black 1px; 
		max-width: 75%;
	}
	#ro3-preview{
		margin-top: 1em;
		img{
			max-height: 250px;
			width: auto;
		}
	}
	.post-select{
		margin-top: 1em;
		label{ 
			display: block;
		}
	}
	.ro3-thumb-preview img{
		max-width: 150px;
		height: auto;
		margin-top: 1em;
	}
	label.radio{ margin-right: 1em; }
}