//Core partials
@import "variables";
@import "mixins";

// plugins
@import "compass";
@import "breakpoint";
@import "susy";
$susy: (
  //columns: 12,
  //container: 60em,
  //gutters: 1/4,
  gutter-position: after
);

#ro3-container{
	padding-top: 1em;
	img{ max-width: 100%; height: auto; }

	@include container(100%);
	overflow: visible !important;
	.ro3-block{ 
		@include breakpoint($med) { @include span(1 of 3); }
		&:last-child{ margin-right: 0; }
	}
	@include clearfix;
}
// css dropshadow
.shadow-container{ position: relative; z-index: 1; }
.drop-shadow{
  position: relative;
  display: block;
  
  &:before, &:after{
	z-index: -1;
	position: absolute;
	content: " ";
	display: block;
	bottom: 1em;
	left: 10px;
	width: 60%;
	min-height: 1em;
	//top: 80%;
	max-width:300px;
	@include box-shadow(0 1em 0.66em #333);
	@include rotate(-4deg);
  }
  &:after{
  	@include rotate(4deg);
	right: 10px;
	left: auto;
  }
}
// circle with shadow, using background image
// note images inside a.circle are forced through JS to be square
a.circle{
	display: block;
	overflow: hidden;
	border-radius: 50%;
	box-shadow: 0 0 3px 2px rgba(0,0,0,0.6);
	max-width: 300px;
	text-align: center;
}
