//Core partials 
@import "variables";
@import "mixins";

// plugins
@import "compass";
@import "breakpoint";
@import "susy";
$susy: (
  //columns: 12,
  //container: 60em,
  //gutters: 1/4,
  gutter-position: after
);

#ro3-container{
	padding-top: 1em;
	img{ max-width: 100%; height: auto; }
	h2{
		padding: 0.5em 0;
		margin: 0;
	}
	p.ro3-read-more{ margin-top: 1em; }
	
	@include container(100%);
	overflow: visible !important;
	.ro3-block{ 
		@include breakpoint($med) { @include span(1 of 3); }
		&:last-child{ margin-right: 0; }
		.ro3-read-more{
			text-align: right;
		}
	} // end: .ro3-block
	@include clearfix;
	
	&.circle-container{
		.ro3-block .ro3-read-more{ text-align: center; }
	}
	&.bar-container{
		h2{
			border-bottom: solid 0.8em;
			padding-bottom: 0.5em;
			margin-bottom: 0.5em;
			display: block;
		}
	}
}
// css dropshadow
.shadow-container, .nested-container{ position: relative; z-index: 1; }
.drop-shadow{
  position: relative;
  display: block;
  
  &:before, &:after{
	z-index: -1;
	position: absolute;
	content: " ";
	display: block;
	bottom: 1em;
	left: 10px;
	width: 60%;
	min-height: 1em;
	//top: 80%;
	max-width:300px;
	@include box-shadow(0 1em 0.66em #333);
	@include rotate(-4deg);
  }
  &:after{
  	@include rotate(4deg);
	right: 10px;
	left: auto;
  }
}
// circle with shadow
// note images inside a.circle are forced through JS to be square
div.circle-container{
	text-align: center;
	a.circle{
		display: block;
		overflow: hidden;
		border-radius: 50%;
		box-shadow: 0 0 3px 1px rgba(0,0,0,0.6);
	}
}
// nested 
.ro3-block.nested-container{
	position: relative;
	&:before{
		z-index: -1;
		position: absolute;
		content: " ";
		display: block;
		bottom: 1em;
		left: 10px;
		width: 60%;
		min-height: 1em;
		@include box-shadow(0 1em 0.66em #333);
		@include rotate(-4deg);
	}
	a.nested{ 
		display: block;
		border-radius: 0.5em;
		overflow: hidden;
		box-shadow: 0 0 3px 1px rgba(0,0,0,0.6);
	}
	h2{ 
		font-size: 1.1em; 
		margin: 0; 
		padding: 0.5em 0; }
	p{ 
		font-size: 0.8em; 
		padding: 0.5em 0;
		margin: 0;
	}
	.ro3-description{
		min-width: 100%;
		position: absolute;
		bottom: 0;
		background: rgba(255,255,255,0.6);
		padding: 0.5em;
		border-radius: 0 0 0.5em 0.5em;
		box-sizing: border-box;
	}
}
#ro3-container.fa-icon-container{
	text-align: center;
	.ro3-block .ro3-read-more{ text-align: center; }
}
