//Core partials
@import "variables";
@import "mixins";

// plugins
@import "compass";
@import "breakpoint";
@import "susy";
$susy: (
  //columns: 12,
  //container: 60em,
  //gutters: 1/4,
  gutter-position: after
);

#ro3-container{
	padding-top: 1em;
	img{ max-width: 100%; height: auto; }

	@include container(100%);
	.ro3-block{ 
		@include breakpoint($med) { @include span(1 of 3); }
		&:last-child{ margin-right: 0; }
	}
	@include clearfix;
}
.shadow-container{ position: relative; z-index: 1; }
.drop-shadow{
  position: relative;
  display: block;
  
  &:before, &:after{
	z-index: -1;
	position: absolute;
	content: " ";
	display: block;
	bottom: 22px;
	left: 10px;
	width: 50%;
	top: 80%;
	max-width:300px;
	@include box-shadow(0 15px 10px #333);
	@include rotate(-4deg);
  }
  &:after{
  	@include rotate(4deg);
	right: 10px;
	left: auto;
  }
}