/* line 2, ../../../components/sass/admin_comp.scss */
.ro3-fail {
  color: #b42d29;
}

/* line 7, ../../../components/sass/admin_comp.scss */
body.toplevel_page_ro3_settings form h3 {
  padding-top: 3em;
  border-top: solid black 1px;
  max-width: 75%;
}
/* line 12, ../../../components/sass/admin_comp.scss */
body.toplevel_page_ro3_settings #ro3-preview {
  margin-top: 1em;
}
/* line 14, ../../../components/sass/admin_comp.scss */
body.toplevel_page_ro3_settings #ro3-preview img {
  max-height: 250px;
  width: auto;
}
/* line 19, ../../../components/sass/admin_comp.scss */
body.toplevel_page_ro3_settings .ro3-fa-preview {
  margin-top: 1em;
  font-size: 2em;
}
/* line 23, ../../../components/sass/admin_comp.scss */
body.toplevel_page_ro3_settings .post-select {
  margin-top: 1em;
}
/* line 25, ../../../components/sass/admin_comp.scss */
body.toplevel_page_ro3_settings .post-select label {
  display: block;
}
/* line 29, ../../../components/sass/admin_comp.scss */
body.toplevel_page_ro3_settings .ro3-thumb-preview img {
  max-width: 150px;
  height: auto;
  margin-top: 1em;
}
/* line 34, ../../../components/sass/admin_comp.scss */
body.toplevel_page_ro3_settings label.radio {
  margin-right: 1em;
}
