/* line 16, ../../../components/sass/comp.scss */
#ro3-container {
  padding-top: 1em;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: visible !important;
  overflow: hidden;
  *zoom: 1;
}
/* line 18, ../../../components/sass/comp.scss */
#ro3-container img {
  max-width: 100%;
  height: auto;
}
/* line 12, ../../../../../../../.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
#ro3-container:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 700px) {
  /* line 22, ../../../components/sass/comp.scss */
  #ro3-container .ro3-block {
    width: 28.57143%;
    float: left;
    margin-right: 7.14286%;
  }
}
/* line 24, ../../../components/sass/comp.scss */
#ro3-container .ro3-block:last-child {
  margin-right: 0;
}
/* line 25, ../../../components/sass/comp.scss */
#ro3-container .ro3-block .ro3-read-more {
  text-align: right;
}
/* line 32, ../../../components/sass/comp.scss */
#ro3-container.circle-container .ro3-block .ro3-read-more {
  text-align: center;
}
/* line 35, ../../../components/sass/comp.scss */
#ro3-container.bar-container h2 {
  border-bottom: solid 0.8em;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  display: block;
}

/* line 44, ../../../components/sass/comp.scss */
.shadow-container, .nested-container {
  position: relative;
  z-index: 1;
}

/* line 45, ../../../components/sass/comp.scss */
.drop-shadow {
  position: relative;
  display: block;
}
/* line 49, ../../../components/sass/comp.scss */
.drop-shadow:before, .drop-shadow:after {
  z-index: -1;
  position: absolute;
  content: " ";
  display: block;
  bottom: 1em;
  left: 10px;
  width: 60%;
  min-height: 1em;
  max-width: 300px;
  -moz-box-shadow: 0 1em 0.66em #333;
  -webkit-box-shadow: 0 1em 0.66em #333;
  box-shadow: 0 1em 0.66em #333;
  -moz-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  -webkit-transform: rotate(-4deg);
  transform: rotate(-4deg);
}
/* line 63, ../../../components/sass/comp.scss */
.drop-shadow:after {
  -moz-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  -webkit-transform: rotate(4deg);
  transform: rotate(4deg);
  right: 10px;
  left: auto;
}

/* line 71, ../../../components/sass/comp.scss */
div.circle-container {
  text-align: center;
}
/* line 73, ../../../components/sass/comp.scss */
div.circle-container a.circle {
  display: block;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.6);
}

/* line 81, ../../../components/sass/comp.scss */
.ro3-block.nested-container {
  position: relative;
}
/* line 83, ../../../components/sass/comp.scss */
.ro3-block.nested-container:before {
  z-index: -1;
  position: absolute;
  content: " ";
  display: block;
  bottom: 1em;
  left: 10px;
  width: 60%;
  min-height: 1em;
  -moz-box-shadow: 0 1em 0.66em #333;
  -webkit-box-shadow: 0 1em 0.66em #333;
  box-shadow: 0 1em 0.66em #333;
  -moz-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  -webkit-transform: rotate(-4deg);
  transform: rotate(-4deg);
}
/* line 95, ../../../components/sass/comp.scss */
.ro3-block.nested-container a.nested {
  display: block;
  border-radius: 0.5em;
  overflow: hidden;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.6);
}
/* line 101, ../../../components/sass/comp.scss */
.ro3-block.nested-container h2 {
  font-size: 1.1em;
  margin: 0;
  padding: 0.5em 0;
}
/* line 105, ../../../components/sass/comp.scss */
.ro3-block.nested-container p {
  font-size: 0.8em;
  padding: 0.5em 0;
  margin: 0;
}
/* line 110, ../../../components/sass/comp.scss */
.ro3-block.nested-container .ro3-description {
  min-width: 100%;
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.6);
  padding: 0.5em;
  border-radius: 0 0 0.5em 0.5em;
  box-sizing: border-box;
}
